<h2 name="title">STAR WARS WIKI</h2>
<div>
<img class='yoda_img' src="https://lumiere-a.akamaihd.net/v1/images/Yoda-Retina_2a7ecc26.jpeg?region=0%2C0%2C1536%2C864&width=960"/>
</div>
<div class='input'>
<input  type='number' placeholder='id' min='1' max='5' [(ngModel)]='frmId'/><br/>
</div>
<div class='input'>
<select [(ngModel)]='whichCategory'>
    <option *ngFor='let item of choices'>{{item.cat}}</option>
</select>
</div>
<br/>
<div class='input'>
<button (click)='handleClick()'>Search</button>
</div>

<!-- <div [hidden]='showFlag'> Oops, that doesn't appear to exist! </div> -->

<h2>Here are the results</h2>

<div *ngIf='whichCategory=="people"'>Name: {{model.name}} <br/>Height: {{model.height}}</div>
<div *ngIf='whichCategory=="species"'>Name: {{model.name}} <br/>Classification: {{model.classification}} </div>
<div *ngIf='whichCategory=="vehicles"'>Name: {{model.name}} <br/>Max atmosphering speed: {{model.max_atmosphering_speed}} </div>
<div *ngIf='whichCategory=="planets"'>Name: {{model.name}} <br/>Terrain: {{model.terrain}} <br/>Population: {{model.population}} </div>
<div *ngIf='whichCategory=="starships"'>Name: {{model.name}} <br/>Cost in credits: {{model.cost_in_credits}}</div>
<div *ngIf='whichCategory.errors'>This is our error text</div>

<!--<pre>{{model |json}}</pre>-->